@import "~bootstrap/scss/bootstrap";


@import "../stylesheet/variables";
@import "../stylesheet/fonts";
@import "../modules/footer/footer";
@import "../modules/menu/menu";








html {
  /* 1rem = 10px */
  font-size: 62.5%;
  
}


body {
  font-family:'Roboto', sans-serif;
  font-weight: normal;
  margin: auto;
  font-size: 1.6rem;
  min-height: 100vh;
}





