

// Color system


$pink-main:      #D27FFB !default;
$purple-main: #b467d9 !default;
$pink-cake: #CD56F4 !default;
$white:     #fff    !default;
$black:     #000    !default;
$gray:      #393939 !default;



