
.menu{
    
    position: fixed;
    top:0;
    right:0;
    left:0;
    z-index:999;
    color:white;

    >.navbar{
      transition: all 0.3s ease;
      //height: 7rem;
      padding: 0 2.1rem;
      justify-content:space-between;
  
  
      a.navbar-brand{
          flex-grow: 2;
          flex-basis: 0;

          >#mainLogo{
            
            background-image:url('../assets/images/ColourIcon.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width:5rem;
            height:5rem;
            display:inline-block;
          }
          
          
      }
            
      button.navbar-toggler{
        border:0;
        padding:0;
        $navbar-toggler: &;

        &:after, 
        &:before, 
        & .navbar-toggler-icon{
          background-color:$white;
          border-radius: 2px;
          content: '';
          display: block;
          height: 5px;
          margin-bottom: 5px;
          transition: all .2s ease-in-out;
          font-size: 1.9rem;
          background-image:none;

        }


      }
  
      .navbar-collapse{
        display:none;
        text-align: center;
        ul{
            width:100%;
            justify-content:center;
            li.nav-item{
                text-align:center;
                flex-grow: 1;
                >a{
                  color:#ffffff;
                  &:hover{
                    color:#B467D9;
                  }
                }
                &.active>a{
                  color:#B467D9;
                  font-weight:bold;
                }
              }
        }
        
  
      }
      span.number{
          text-align:right;
          flex-grow: 2;
          flex-basis: 0;
          display: none;
      }

      @include media-breakpoint-up(lg) { 
        a.navbar-brand{
            >#mainLogo{
                width: 17rem;
                background-image:url('../assets/images/ColourLogo.svg');
            }
        }

        span.number{
            display: block;
            font-weight: bold;
        }
}
    }

    &.menu--fixed,  &.menu--expanded{
      background:#fff;
      box-shadow: 0px 4px 16px 0px rgba(144, 144, 144, 0.2);
      color:$gray;
      .navbar{
        .navbar-collapse ul li.nav-item>a{
          color:$gray;
          }
        

        button.navbar-toggler{
          & .navbar-toggler-icon, &:after, &:before{
            background-color:$gray;
          }
        }

      }


      
    }
    &.menu--expanded{
      height:100vh;
      transition: background-color 0.3s ease;
      button.navbar-toggler{
        &:before {
          transform: translateY(12px) rotate(135deg);
        }
        
        &:after {
          transform: translateY(-8px) rotate(-135deg);
        }
        
        .navbar-toggler-icon {
          transform: scale(0);
        }
        

      }
      .navbar-collapse{
        display:block;
      }
    }


    @include media-breakpoint-up(lg) {
      
      &.menu--fixed{
        
        .navbar{
          padding:0 2.1rem;
        }

        a.navbar-brand>#mainLogo{
          background-image:url('../assets/images/BlackLogo.svg');
        }
   
      }
    }

  }