.menu
    nav.navbar.navbar-expand-lg.navbar-light.navbar-default
        a.navbar-brand( href="#")
            i(id ="mainLogo")
        button.navbar-toggler.collapsed(type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item.active
                    a.nav-link(href="/" title="Ir a la página principal") Home
                li.nav-item
                    a.nav-link(href="sobre-nosotros" title="Ir a la página sobre nosotros") Nosotros
                li.nav-item
                    a.nav-link(href="servicios" title="Ir a la página sobre servicios") Servicios
                li.nav-item
                    a.nav-link(href="contacto" title="Ir a contacto") Contacto
        span.number +91 698 00 00
