.main-content{

    height: 100vh;
    background-image: url('../../assets/images/img_niña.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow:hidden;
    position: relative;
    color:white;
    text-align:center;
    display: flex;
    flex-direction:column;
    

    >div{
        flex-grow:1;
        position:relative;
        z-index: 1;
    }
    
    &::after{
        content:"";
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background:rgba(49, 49, 49, 0.21);
    }




}