extends ../../modules/layout/layout.pug

append content
  .main-content.rellax
  
    .cas
    .title
      img(id ="mainLogoHome" src="" alt="")
      h1 Psicopedagogía en Madrid

    .text Nos centramos en tu desarrollo visitándote en casa para trabajar juntos. 

    .interactive
      button Contáctanos
    .continue
      svg(xmlns="http://www.w3.org/2000/svg" width="107.57" height="56.613" viewBox="0 0 107.57 56.613")
        path(id="Trazado_171" data-name="Trazado 171" d="M166.715,727.728,219.086,780.1l52.371-52.371" transform="translate(-165.301 -726.314)" fill="none" stroke="#fff" stroke-width="4")


  
    


