.footer
    .row
        svg.header(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1932.138 110.948")
            path(id="Trazado_170" data-name="Trazado 170" d="M549.969,858.876c135.1-4.362,480.142,11.192,480.142,11.192s121.9-11.233,444.8-14.706,619.723-16.229,750.142-11.26,143.4,91.484,186.061,94.271-89.4-32.25-89.4-32.25v-6.2L2277.586,921.7,489.73,912.9a125.977,125.977,0,0,0,0-25.381c-.517-4.846,4.968,4.934,0,0C489.73,877.593,473.775,861.337,549.969,858.876Z" transform="translate(-487.462 -839.829)" fill="rgba(205,86,244,0.34)")
            path(id="Trazado_169" data-name="Trazado 169" d="M643.971,848.138c123.419-6.249,289.23,11.687,673.761,15.617s728.723,18.872,760.761,19.219,291.529,16.757,291.529,28.908v45.9L534.773,945.906s-47.022,20.435-84.9,0c-9.809-5.293-1.24-12.937-2.091-24.271C469.23,893,552.517,852.769,643.971,848.138Z" transform="translate(-445.129 -846.829)" fill="#b467d9")

    .row.content.pb-5
        .container
            .row.py-5
                .col-lg-3.align-self-center.py-5
                    img(id ="logoFooter" src="" alt="")
                .col-lg-3.py-3
                    ul.class-group
                        li.list-group-item 
                            b SOBRE NOSOTROS
                        li.list-group-item
                            p Duis porta, ligula rhoncus euismod pretium, nisi tellus eleifend odio, luctus viverra sem dolor id sem. Maecenas a venenatis enim, quis porttitor magna. Etiam nec rhoncus neque.

                .col-lg-3.py-3
                    ul.class-group
                        li.list-group-item 
                            b CONTACTO
                        li.list-group-item abbabaco@gmail.com
                        li.list-group-item +91 698 00 00
                .col-lg-3.py-3
                    ul.class-group
                        li.list-group-item 
                            b HORARIO
                        li.list-group-item De Lunes a Viernes  08:00 - 19:00
            .row
                .col-12.reserved © Abbabaco 2019. Todos los derechos reservados



