.footer{

    width:100%;
    position:relative;
    color:$white;
    overflow: hidden;
    
    svg.header{
        
        width:100%;
        position: relative;
        bottom:-2rem;
    }
    
    .content{
        text-align:center;
        background-image: linear-gradient(to bottom, $purple-main, $pink-main);

        #logoFooter{
            width:100%;
            max-width: 20rem;
            display: inline-block;
            background:url('../assets/images/WhiteLogo.svg')

        }



        ul{
            list-style: 0;
            padding:0;
            li.list-group-item{
                background:none;
                border:0;
            }
        }


        .reserved{
            text-align: center;
        }


        




    }

    @include media-breakpoint-up(lg) { 
            .content{
                text-align:left;

                #logoFooter{
                    max-width: 30rem;
                }
            }
    }
}